<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/js/jquery-3.7.0.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <title>Создание задания</title>
</head>
<body>
    <header th:insert="blocks/header :: header"></header>
    <div class="container my-4">
        <form th:action="@{/tasks/create}" method="post">
            <div class="mb-3">
                <label for="title" class="form-label"><b>Заголовок</b></label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Введите краткое описание задания">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label"><b>Описание</b></label>
                <textarea class="form-control" id="description" name="description" placeholder="Введите подробное описание задания" rows="5"></textarea>
            </div>
            <div class="mb-4">
                <label for="priorityId" class="form-label"><b>Приоритет</b></label>
                <select class="form-control" id="priorityId" name="priorityId">
                    <option
                            th:each="priority : ${priorities}"
                            th:value="${priority.id}"
                            th:text="${priority.name}"
                    ></option>
                </select>
            </div>
            <div class="mb-4">
                <label for="categoriesId" class="form-label"><b>Категории</b></label>
                <select class="form-control" id="categoriesId" name="categoriesId" multiple>
                    <option
                            th:each="category : ${categories}"
                            th:value="${category.id}"
                            th:text="${category.name}"
                    ></option>
                </select>
            </div>
            <div class="d-flex">
                <a class="btn btn-danger mr-3" href="/tasks">Отмена</a>
                <button class="btn btn-success" type="submit">Добавить</button>
            </div>
        </form>
    </div>
</body>
</html>